<template name="addLivro">
    <form id="adicionarLivro">
        <div class="form-group">
            <label for="titulo">Título (alterado)</label>
            <input type="text" name="titulo" class="form-control">
        </div>
        <div class="form-group">
            <label for="autor">Autor (alterado)</label>
            <input type="text" name="autor" class="form-control">
        </div>
        <div class="form-group">
            <label for="preco">Preco</label>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo</label>
        </div>
        <button type="submit" class="btn btn-success">Adicionar livro (alterado)</button>
    </form>
</template>